<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%! from microsite_configuration import microsite %>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', True)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "XNaiOGxWeto")

  show_partners = microsite.get_value('show_partners', True)

%>

<section class="home">
  <header>
    <div class="outer-wrapper">
      <div class="title">
        <hgroup>
          <h1>${_("ENTREPRENEURSHIP EDUCATION WITHOUT BOUNDARIES")}</h1>
          <h2>Program pembelajaran <strong>Entrepreneurship</strong> non-degree terbuka untuk umum dan <strong>GRATIS</strong></h2>
        </hgroup>

        ## Disable social buttons for non-edX sites
          <section class="actions">
            <div class="main-cta">
              <a href="#signup-modal" id="signup_action" class="find-courses" rel="leanModal">${_("Sign Up")}</a>
            </div>

            <div class="secondary-actions">
              <div class="social-sharing">
                <div class="sharing-message">${_("Stay up to date with all {platform_name} has to offer!").format(platform_name=settings.PLATFORM_NAME)}</div>
                <a href="https://twitter.com/edXOnline" class="share">
                  <img src="${static.url('images/social/twitter-sharing.png')}">
                </a>
                <a href="http://www.facebook.com/EdxOnline" class="share">
                  <img src="${static.url('images/social/facebook-sharing.png')}">
                </a>
                <a href="https://plus.google.com/108235383044095082735/posts" class="share">
                  <img src="${static.url('images/social/google-plus-sharing.png')}">
                </a>
              </div>
            </div>
          </section>
      </div>

      % if show_homepage_promo_video:
        <!--a href="#video-modal" class="media" rel="leanModal">
          <div class="hero">
            <div class="play-intro"></div>
          </div>
        </a-->
      % endif
    </div>
  </header>
  <section class="container">
    <section class="marker">
      JOIN UCEO FREE COURSES
    </section>
    <section class="highlighted-courses">

      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <section class="courses">
            <ul class="courses-listing">
            %for course in courses:
              <li class="courses-listing-item">
                <%include file="course.html" args="course=course" />
              </li>
            %endfor
            </ul>
        </section>
      % endif

    </section>

    <section class="marker middle">
      JOIN UCEO PAID COURSES
    </section>
    <section class="highlighted-courses">
        <section class="courses">
            <ul class="courses-listing">
              <li class="courses-listing-item">
                <article class="course">
                  <!-- span class="status">New</span-->
                  <a href="#">
                  <div class="inner-wrapper">
                      <header class="course-preview">
                        <hgroup>
                          <h2>Pengantar Entrepreneur Kuliner</h2>
                        </hgroup>
                        <div class="info-link">&#x2794;</div>
                      </header>
                      <section class="info">
                        <div class="cover-image">
                          <img src="http://static.squarespace.com/static/51e3ae56e4b0ebae3ad28b2b/t/532ba9dee4b01c9accdb0ca6/1395370462705/?format=500w" alt="PEK" />
                        </div>
                        <div class="desc">
                          <p>Semakin diminatinya wisata kuliner, memberikan peluang yang sangat besar dalam bisnis ini. Seakan tidak ada habisnya, selalu ada inovasi baru yang membuat bisnis kuliner semakin menjanjikan dan memiliki prospek yang sangat baik dengan didukung oleh potensi kekayaan alam negara kita.</p>
                        </div>
                        <div class="bottom">
                          <span class="university">UCEO</span>
                          <span class="start-date">January 01, 1970</span>
                        </div>
                      </section>
                    </div>
                    <div class="meta-info">
                      <p class="university">UCEO</p>
                    </div>
                  </a>
                </article>
              </li>
            </ul>
        </section>
    </section>
  </section>
</section>

<section id="video-modal" class="modal home-page-video-modal video-modal">
  <div class="inner-wrapper">
    <%
      youtube_video_id = homepage_promo_video_youtube_id
      if self.stanford_theme_enabled():
        youtube_video_id = "2gmreZObCY4"
    %>
    <iframe width="640" height="360" src="//www.youtube.com/embed/${youtube_video_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
