<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%! from microsite_configuration import microsite %>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', True)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "XNaiOGxWeto")

  show_partners = microsite.get_value('show_partners', True)

%>

<%block name="bodyclass">homepage</%block>

<section class="home">
  <header>
    <div class="outer-wrapper">
      <div class="title">
        <hgroup>
          <h1>${_("ENTREPRENEURSHIP EDUCATION WITHOUT BOUNDARIES")}</h1>
          <h2>Program pembelajaran <strong>Entrepreneurship</strong> non-degree terbuka untuk umum dan <strong>GRATIS</strong></h2>
        </hgroup>


        <section class="register container">
          <section role="main" class="content">
            <form role="form" id="register-form" method="post" data-remote="true" action="/create_account" data-validator="true" novalidate>
              <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
              <div role="alert" class="status message submission-error" tabindex="-1">
                <h3 class="message-title">${_("The following errors occurred while processing your registration:")} </h3>
                <ul class="message-copy"> </ul>
              </div>

              <div class="group group-form group-form-requiredinformation">
                <h2 class="sr">${_('Required Information')}</h2>

                <ol class="list-input">
                  <li class="field required text" id="field-email">
                    <label for="email">${_('E-mail')}</label>
                    <input class="" id="email" type="email" name="email" value="" placeholder="${_('example: username@domain.com')}" required aria-required="true" />
                  </li>
                  <li class="field required password" id="field-password">
                    <label for="password">${_('Password')}</label>
                    <input id="password" type="password" name="password" value="" required aria-required="true" />
                  </li>
                  <li class="field required text" id="field-username">
                    <label for="username">${_('Public Username')}</label>
                    <input id="username" type="text" name="username" value="" placeholder="${_('example: JaneDoe')}" required aria-required="true" aria-describedby="username-tip"/>
                    <span class="tip tip-input" id="username-tip">${_('Will be shown in any discussions or forums you participate in')} <strong>(${_('cannot be changed later')})</strong></span>
                  </li>
                  <li class="field required text" id="field-name">
                    <label for="name">${_('Full Name')}</label>
                    <input id="name" type="text" name="name" value="" placeholder="${_('example: Jane Doe')}" required aria-required="true" aria-describedby="name-tip" />
                    <span class="tip tip-input" id="name-tip">${_("Needed for any certificates you may earn")}</span>
                  </li>
                </ol>

              </div>

              <div class="form-actions">
                <button name="submit" type="submit" id="submit" class="action action-primary action-update">${_('Register')} <span class="orn-plus">+</span> ${_('Create My Account')}</button>
              </div>
            </form>
          </section>

        </section>

        ## Disable social buttons for non-edX sites
          <section class="actions">
            <div class="main-cta">
              <a href="#signup-modal" id="signup_action" class="find-courses" rel="leanModal">${_("Sign Up")}</a>
            </div>

            <div class="secondary-actions">
              <div class="social-sharing">
                <div class="sharing-message">${_("Stay up to date with all {platform_name} has to offer!").format(platform_name=settings.PLATFORM_NAME)}</div>
                <a href="https://twitter.com/edXOnline" class="share">
                  <img src="${static.url('images/social/twitter-sharing.png')}">
                </a>
                <a href="http://www.facebook.com/EdxOnline" class="share">
                  <img src="${static.url('images/social/facebook-sharing.png')}">
                </a>
                <a href="https://plus.google.com/108235383044095082735/posts" class="share">
                  <img src="${static.url('images/social/google-plus-sharing.png')}">
                </a>
              </div>
            </div>
          </section>
      </div>

      % if show_homepage_promo_video:
        <!--a href="#video-modal" class="media" rel="leanModal">
          <div class="hero">
            <div class="play-intro"></div>
          </div>
        </a-->
      % endif
    </div>
  </header>
  <section class="container">
    <section class="marker">
      JOIN UCEO FREE COURSES
    </section>
    <section class="highlighted-courses">

      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <section class="courses">
            <ul class="courses-listing">
            %for course in courses:
              <li class="courses-listing-item">
                <%include file="course.html" args="course=course" />
              </li>
            %endfor
            </ul>
        </section>
      % endif

    </section>

    <section class="marker middle">
      JOIN UCEO PAID COURSES
    </section>
    <section class="highlighted-courses">
      <section class="courses">
          <ul class="courses-listing">
            <li class="courses-listing-item">
              <article class="course">
                <!-- span class="status">New</span-->
                <a href="#">
                <div class="inner-wrapper">
                    <header class="course-preview">
                      <hgroup>
                        <h2>Pengantar Entrepreneur Kuliner</h2>
                      </hgroup>
                      <div class="info-link">&#x2794;</div>
                    </header>
                    <section class="info">
                      <div class="cover-image">
                        <img src="http://static.squarespace.com/static/51e3ae56e4b0ebae3ad28b2b/t/532ba9dee4b01c9accdb0ca6/1395370462705/?format=500w" alt="PEK" />
                      </div>
                      <div class="desc">
                        <p>Semakin diminatinya wisata kuliner, memberikan peluang yang sangat besar dalam bisnis ini. Seakan tidak ada habisnya, selalu ada inovasi baru yang membuat bisnis kuliner semakin menjanjikan dan memiliki prospek yang sangat baik dengan didukung oleh potensi kekayaan alam negara kita.</p>
                      </div>
                      <div class="bottom">
                        <span class="university">UCEO</span>
                        <span class="start-date">January 01, 1970</span>
                      </div>
                    </section>
                  </div>
                  <div class="meta-info">
                    <p class="university">UCEO</p>
                  </div>
                </a>
              </article>
            </li>
          </ul>
      </section>
    </section>
    <section class="marker middle">
      BLOG AND NEWS
    </section>
    <div>
      <script language="JavaScript" src="http://feed2js.org//feed2js.php?src=http%3A%2F%2Fwww.ciputra-uceo.net%2Fblog%3Fformat%3Drss&chan=y&desc=1&utf=y"  charset="UTF-8" type="text/javascript"></script>

      <noscript>
      <a href="http://feed2js.org//feed2js.php?src=http%3A%2F%2Fwww.ciputra-uceo.net%2Fblog%3Fformat%3Drss&chan=y&desc=1&utf=y&html=y">View RSS feed</a>
      </noscript>

    </div>
  </section>
</section>

<section id="video-modal" class="modal home-page-video-modal video-modal">
  <div class="inner-wrapper">
    <%
      youtube_video_id = homepage_promo_video_youtube_id
      if self.stanford_theme_enabled():
        youtube_video_id = "2gmreZObCY4"
    %>
    <iframe width="640" height="360" src="//www.youtube.com/embed/${youtube_video_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
