## mako
<div class="wrapper wrapper-footer">
  <footer>
  	<div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('tos')}">Terms of Service</a></li>
          <li><a href="${reverse('tos')}#privacy">Privacy Policy</a></li>
          <li><a href="${reverse('tos')}#honor">Honor Code</a></li>
          <li><a href="${reverse('tos')}#copyright">Copyright</a></li>
          <li><a href="${reverse('about_edx')}#careers">Careers</a></li>
          <li><a href="${reverse('about_edx')}#contact">Contact</a></li>
          <li><a href="${marketing_link('FAQ')}">Help</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <a href="https://ciputra-uceo.com/contact">Contact Us</a>
      | © Universitas Ciputra, UC, Surabaya
    </div>
  </footer>
</div>
