## mako
<div class="wrapper wrapper-footer">
	<footer>
	<div id="bottom-logo"><img src="/static/themes/uceo-theme/images/round-logo.gif" alt="Universitas Ciputra"></div>
	<div class="right">
        <div class="bottom-menu">
            <ol>
                <li><a href="mailto:contact@ciputra-uceo.com">Contact Us</a></li>
                <li><a href="">Terms of Use</a></li>
                <li><a href="#copyright">Copyright Complaints</a></li>
                <li><a href="">Technical Support</a></li>
            </ol>
        </div>
        
    </div>
    <div class="left">
        <div class="bottom-menu">
            <ol>
                <li><a href="http://store.ciputra-uceo.com" target="blank">UCEO Store</a></li>
                <li><a href="http://twitter.com/UCEO_ID" target="blank">UCEO on Twitter</a></li>
                <li><a href="http://facebook.com/groups/uceoc" target="blank">UCEO on FB</a></li>
                <li><a href="http://uc.ac.id" target="blank">Universitas Ciputra</a></li>
            </ol>
        </div>
    </div>
    <p style="margin-top: 3em; color: white">
	  © Universitas Ciputra, UC, Surabaya
	</p>
    </footer>
</div>


